#root {
  height: 100vh;
}

.content {
  margin: auto;
  width: 100%;
  height: 100vh;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("../../css/pages/chiot.jpg");
  background-size: cover;
  background-position: center;
}

.title {
  text-align: center;
}

