.homeNav {
    background-image: linear-gradient(to bottom, #3c3c3c, #353535);
    /*color: white !important;*/
}

.test {
    color: white !important;
    background: none !important;
}

.navStyle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.logo {
    width: 10%;
    margin-right: 120px;
}